[user]
	name = Michal Šoltis
	email = msoltis@redhat.com
[init]
	defaultBranch = main
[core]
	editor = vim
	autocrlf = input
[color]
	ui = auto
[alias]
	rewrite = !sh -c "git add . && git commit --amend --no-edit && git push --force" -
