[user]
	name = Michal Šoltis
	email = msoltis@redhat.com 
[init]
	defaultBranch = main
[pull]
	rebase = true
[core]
	editor = nvim
	excludesfile = ~/.gitignore
[commit]
	gpgsign = true
[credential]
	helper = store
[sendemail]
	smtpencryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = soltis.miso@gmail.com
	smtpServerPort = 587
[alias]
	br = branch
	st = status
	aa = add --all .
	cm = commit --signoff --message
	cp = cherry-pick
	co = checkout
	sw = switch
	rh = reset --hard
	rb = rebase
	rbi = rebase --interactive HEAD~10
	rbc = rebase --continue
	rba = rebase --abort
	lol = log --oneline --graph
	pum = pull upstream main
	cms = commit --signoff
	cma = commit --amend
	cman = commit --amend --no-edit

	compare = diff HEAD~1..HEAD
	review = diff main..HEAD
	download = fetch --all --prune
	unstage = restore --staged .
	clear = clean -f -d

	; dangerous !!!
	; use with caution
	rewrite = !git add . && git commit --amend --no-edit && git push --force
	update = !git switch main && git pull upstream main && git push && git switch - && git rebase main
	paste = !git stash pop && git add . && git commit --amend --no-edit && git rebase --continue
	incoming = !git checkout --ours . && git add .
	current = !git checkout --theirs . && git add .
	uncommit = !git reset --soft HEAD~1 && git restore --staged .
